# Environnement
.env
.env.local
.env.*.local

# Python / ETL
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# DATA
data/processed/
data/samples/

# Logs
*.log
logs/

# IDEs
.idea/
.vscode/

# Docker
docker-volumes/

# OS
.DS_Store
Thumbs.db
desktop.ini
